body {
	background-image: url(assets/media/background.png);
	color: white;
}

button {
	font-family: 'Bahnschrift SemiBold';
	border: none;
	background: #073442;
	color: white;

}

button:hover {
	background-color: #0f6884;
}

#white{
	background-color: gray;
}
#red {
	background-color: darkred;
}
#green {
	background-color: darkgreen;
}
#violet {
	background-color: darkmagenta;
}

#white:hover {
	background-color: white;
	color: black;
}
#red:hover {
	background-color: red;
}
#green:hover {
	background-color: rgb(102, 255, 0);
}
#violet:hover {
	background-color: violet;
}
#animate:hover {
	background: url(assets/media/gif/bg18.gif) no-repeat;
}

#krug {
	animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-left: 620px;
    margin-top: 30px;

}


@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#maksolotle {
	margin-top: 130px;
	color: whitesmoke;
}
#project {
	margin-left: 20px;
	font-family: 'Bahnschrift SemiBold';
}

#project:hover{
	color: #6dffff
}

#version {
	color: white;
}
#krug_2 {
    margin-left: 525px;
}

#kategory_1 {
	background: none;
	background-image: url(assets/media/orange.png);
}
#kategory_2 {
	background: none;
	background-image: url(assets/media/orange.png);
}
#kategory_3 {
	background: none;
	background-image: url(assets/media/orange.png);
}
#kategory_4 {
	background: none;
	background-image: url(assets/media/orange.png);
}
#kategory_5 {
	background: none;
	background-image: url(assets/media/orange.png);
}

#razvernut_1 {
	background: none;
}

#razvernut_x {
	background: none;
}

#razvernut_1:hover {
	background-color: #ffca18;
}
#razvernut_x:hover {
	background-color: #ffca18;
}
#razvernut_2 {
	background: none;
}

#razvernut_x_2 {
	background: none;
}
#razvernut_3 {
	background: none;
}

#razvernut_x_3 {
	background: none;
}
#razvernut_4 {
	background: none;
}

#razvernut_x_4 {
	background: none;
}
#razvernut_5 {
	background: none;
}

#razvernut_x_5 {
	background: none;
}

#razvernut_2:hover {
	background-color: #ffca18;
}
#razvernut_x_2:hover {
	background-color: #ffca18;
}
#razvernut_3:hover {
	background-color: #ffca18;
}
#razvernut_x_3:hover {
	background-color: #ffca18;
}
#razvernut_4:hover {
	background-color: #ffca18;
}
#razvernut_x_4:hover {
	background-color: #ffca18;
}
#razvernut_5:hover {
	background-color: #ffca18;
}
#razvernut_x_5:hover {
	background-color: #ffca18;
}

.custom {
	background: none;
	background-image: url(assets/media/lime.png);
}
.custom:hover {
	background: url(assets/media/gif/bg4.gif) no-repeat;
}

h1:hover {	
	background: url(assets/media/gif/bg4.gif) no-repeat;
}
